# Python 관련 파일
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# 가상 환경
venv/
ENV/

# 데이터베이스 파일
*.db
*.sqlite3

# 로그 파일
*.log

# IDE 설정 파일
.idea/
.vscode/
*.swp
*.swo

# OS 관련 파일
.DS_Store
Thumbs.db 